body{
    padding: 20px;

    #container{
        width: 75%;
        height: 290px;
        cursor: pointer;
        box-shadow: 0px 0px 15px #ccc;
        border-radius: 10px;
        margin: 0 auto;
        background-color: yellow;
        transition: background-color .2s ease-out;
    }

    h1{
        font-size: 1.2rem;
        text-align: center;
        transform: translateY(120px);
        
    }

    .output{
        border-radius: 100px;
        width: 300px;
        margin: 40px auto;
        height: 50px;
        background-color: #80bd63;
        transition: transform .2s ease-out;
        cursor: pointer;
        text-align: center;
        padding-top: 20px;
        color: #fff;
    }  
}

